.container {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: visible;
}

.video {
  position: relative;
  width: 85%;
  height: 70vh;
  margin: 0 auto;
  overflow: hidden;
  transition: width 0.1s ease-out;
  border-radius: 25px;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video {
    height: 85vh;
  }
} 